version: "3.9"

services:

  nginx:
    build: ./frontend
    container_name: nginx_app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=PathPrefix(`/`)"
      - "traefik.http.services.nginx.loadbalancer.server.port=80"

  traefik:
    image: traefik:v2.11
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "8080:80"
      - "8081:8080"  # dashboard poort
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
